body {
    background-color: black;
    margin: 0;
    font-family: Verdana;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: 50px;
    font-weight: normal;
}

a h3{
    text-decoration: aquamarine;
    text-decoration-color: aquamarine;
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}

h3 {
    color: gray;
    font-size: 21px;
    font-weight: 300;
}

#footer-img {
    padding-top: 20px;
}

#excursion-copyright {
    font-size: 25px;
    color: gray;
    text-align: right;
    margin-right: 35px;
    font-weight: 300;
}
